*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* HEADER */

  nav {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100px;
    background-color: #111010d2;
  }
  h2 {
    padding-left: 20px;
    color: #131212;
  }
  img {
    width: 70px;
    height: 50px;
  }
  .search {
    padding-left: 200px;
    display: flex;
  }
  .sb {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
  }
  .sbtn {
    border-radius: 5px;
    border: none;
    background-color: red;
    color: #fff;
    padding: 10px;
    margin-left: 5px;
  }
  ul {
      margin-top: 10px;
      padding-left: 200px;
      display: flex;
  }
  li {
      justify-content: space-between;
      margin-right: 20px;
      text-decoration: #fff;
      font-size: 20px;
      list-style-type: none;
      display: inline;
      align-items: center;
  }
  li :hover{
      color: goldenrod;
  }
  .btn {
      background-color: red;
      width: 150px;
      height: 30px;
      text-align: center;
      border: none;
      border-radius: 5px;
  
  }
  a {
      color: white;
      text-decoration: none;
  }
  a :hover {
      cursor: pointer;
}

.video{
    width: 1050px;
    height: 100px;
    /* background-color: #00d874; */
    border-radius: 7px;
    background: url(/assets/ani.mp4);
}

/* THE SHOP  */

body{
    background-color: #fff;
}

.container{
    margin: auto;
    transition: 0.5s;
    width: 1500px;
    max-width: 90vw;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    cursor: pointer;
    height: 80px;
}
.shoppingBasket{
    position: relative;
}
.shoppingBasket .quantity{
    background-color: brown;
    border-radius: 100%;
    color: #fff;
    padding: 0 8px;
    position: absolute;
    top: -15px;
    left: 10px;
}
img{
    width: 100px;
}
.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    margin: 10px 30px;
    padding: 0 55px;
}

.products .item{
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0px 50px #757676;
    letter-spacing: 1px;
    cursor: pointer;
}
.products .item img{
    height: 130px;
    filter: drop-shadow(10px 10px 5px #d3d3d3);
}
.products .item img:hover{
    scale: 1.2;
    transition: 0.5s;
}
.products .item .name {
    font-weight: 600;
}
.products .item .price{
    margin: 10px;
}
.products .item button{
    background-color: #343432;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}
.cart{
    position: fixed;
    top: 0;
    left: 100%;
    width: 400px;
    background: #1f1794;
    height: 100vh;
    transition: 0.5s;
}

.cart h3{
    font-weight: 100;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

.cart .checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cart .checkout div{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    background-color: beige;
}
.cart .checkout div:nth-child(2){
    background-color: #000;
    color: #fff;
}
.active .cart{
    left: calc(100% - 400px);
}
.fa-star{
    color:rgb(238, 113, 10);
    margin-top: 10px;
}
.productlist{
    padding: 15px;
    height: auto;
}
.productlist li{
    display: grid;
    grid-template-columns: 100px repeat (3, 1fr);
    color: #fff;
    row-gap: 10px;
    margin-bottom: 20px;
    /* border: 1px solid; */
    border-bottom: 1px solid ;
}
.productlist li img {
    width: 50px;
    background: #fff;
}
.productlist li div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.productist li button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width: 770px) {
    .products{
        grid-template-columns: repeat(2, 1fr)
    }
}

@media only screen and (max-width: 550px) {
    header {
        padding: 25px;
    }
    .products{
        display: block;
        padding: 5px;
    }
    .product .item {
        margin-bottom: 20px;
    }
    
}