/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

/* GALLERY */

/* .gallery {
    width: 100%;
    height: 50vh;

}

.gallery1 {
    width: 100%;
    height: 100vh;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listing .listing1 .listing2 {
    width: 100px;
    height: 20px;
}

.listing img .listing1 img .listing2 img{
    width: 10px;
    height: 50px;
    border-radius: 20px;
    margin-left: 20px;
}
img{
    width: 100px;
    height: 100px;
} */

Project.css
.Manchester{
    height: 120vh;
    width: 97vh;
    background: transparent;
    display: grid; 
    grid-template-columns: 25% 25% 25% 25% 25% 25% 25%;
    grid-template-rows: 50% 50% ;
    row-gap: 0.2rem;
    column-gap: 0.7rem;
    margin-left: 45px;
    padding: 0%;
 }
 .Hot-Deal{
    width: 80%;
    height: 110px;
    background-color: black;
    color: white;
    font-weight: 900;
    font-size: 4rem;
    padding: 3rem;
    margin-top: -50px;
    position: relative;
    left: 400px; 
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; */


 }
 .Iphone{
    color: white;
    font-size: 1.5rem;
    margin-left: 30px;
 }

 .Samsung{
    color: white;
    font-size: 1.5rem;
    margin-left: 30px;
 }
 
 .Nokia{
    color: white;
    font-size: 1.5rem;
    margin-left: 30px;
 }



 .Official{
    background-color: white;
    height: 6%;
    width: 70%;
    font-size: large;
    border-radius: 1rem;
    margin-left: 10px;
    color: navy;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }


    .Percentage{
        background-color: white;
        height: 8%;
        width: 25%;
        font-size: small;
        border-radius: 0.5rem;
        margin-left: 10px;
        color: palevioletred;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: -32px;
        margin-left: 75px;
        padding-right: 2px;
        font-family: Arial, Helvetica, sans-serif;
     }  
     .fa-solid{
        padding: 1rem;
        colorc yellow;
    margin: 1rem;
     }
 
     .Champion1{
        background-color(4, 5, 3);
        height: 87%;
        grid-column-start: 1;
        grid-row-start: 1;
        
    }
    .Champion1 img {
       height: 50%;
       width: 100%;
    }

    .Champion2{
    height: 87%;
    grid-column-start: 2;
    grid-row-start: 1;
    }

    .Champion2 img{
    height: 55%;
    width: 100%;
    }

    .Champion3{
        height: 87%;
        grid-column-start: 3;
        grid-row-start: 1;
    }
    .Champion3 img{
        height: 50%;
        width: 100%;   
    }

    .Champion4{
        height: 87%;
        grid-column-start: 4;
        grid-row-start: 1;
    }

    .Champion4 img{
        height: 50%;
        width: 100%;   
    }

    .Champion5{
        height: 87%;
        grid-column-start: 5;
        grid-row-start: 1;
    }
    .Champion5 img{
        height: 50%;
        width: 100%;   
    }

    .Champion6{
        height: 87%;
        grid-column-start: 6;
        grid-row-start: 1;
    }
    .Champion6 img{
        height: 50%;
        width: 100%;   
    }

    .Champion7{
        height: 87%;
        grid-column-start: 7;
        grid-row-start: 1;
    }
    .Champion7 img{
        height: 50%;
        width: 100%;   
    }

    .Champion8{
        height: 85%;
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .Champion8 img{
    height: 50%;
    width: 100%;   
    }
    .Champion9{
        height: 85%;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .Champion9 img{
        height: 45%;
        width: 90%; 
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        
        }
        .Champion10{
            height: 85%;
            grid-column-start: 3;
            grid-row-start: 2;
        }
        .Champion10 img{
            height: 50%;
            width: 100%;   
            }
            .Champion11{
                height: 85%;
                grid-column-start: 4;
                grid-row-start: 2;
            }
            .Champion11 img{
                height: 50%;
                width: 100%;   
                }
                .Champion12{
                    height: 85%;
                    grid-column-start: 5;
                    grid-row-start: 2;
                }
                .Champion12 img{
                    height: 50%;
                    width: 100%;   
                    }
                    .Champion13{
                        height: 85%;
                        grid-column-start: 6;
                        grid-row-start: 2;
                    }
                    .Champion13 img{
                        height: 50%;
                        width: 100%;   
                        }
                        .Champion14{
                            height: 85%;
                            grid-column-start: 7;
                            grid-row-start: 2;
                        }
                         .Champion14 img{
                            height: 50%;
                            width: 100%;   
                            }
                        
                            .Gunners{
                                height: 120vh;
                                width: 97vh;
                                background: transparent;
                                display: grid; 
                                grid-template-columns: 25% 25% 25% 25% 25% 25% 25%;
                                grid-template-rows: 50% 50% ;
                                row-gap: 0.2rem;
                                column-gap: 0.7rem;
                                margin-left: 45px;
                                padding: 0%;
                            }

                            .Samsung1{
                                height: 87%;
                                grid-column-start: 1;
                                grid-row-start: 1;
                                
                            }
                            .Samsung1 img {
                               height: 50%;
                               width: 100%;
                            }              
                            .Samsung2{
                                height: 87%;
                                grid-column-start: 2;
                                grid-row-start: 1;
                                }
                            
                                .Samsung2 img{
                                height: 55%;
                                width: 100%;
                                }
                            
                                .Samsung3{
                                    height: 87%;
                                    grid-column-start: 3;
                                    grid-row-start: 1;
                                }
                                .Samsung3 img{
                                    height: 50%;
                                    width: 100%;   
                                }
                            
                                .Samsung4{
                                    height: 87%;
                                    grid-column-start: 4;
                                    grid-row-start: 1;
                                }
                            
                                .Samsung4 img{
                                    height: 50%;
                                    width: 100%;   
                                }
                            
                                .Samsung5{
                                    height: 87%;
                                    grid-column-start: 5;
                                    grid-row-start: 1;
                                }
                                .Samsung5 img{
                                    height: 50%;
                                    width: 100%;   
                                }
                            
                                .Samsung6{
                                    height: 87%;
                                    grid-column-start: 6;
                                    grid-row-start: 1;
                                }
                                .Samsung6 img{
                                    height: 50%;
                                    width: 100%;   
                                }
                            
                                .Samsung7{
                                    height: 87%;
                                    grid-column-start: 7;
                                    grid-row-start: 1;
                                }
                                .Samsung7 img{
                                    height: 50%;
                                    width: 100%;   
                                }
                            
                                .Samsung8{
                                    height: 85%;
                                    grid-column-start: 1;
                                    grid-row-start: 2;
                                }
                            
                                .Samsung8 img{
                                height: 50%;
                                width: 100%;   
                                }
                                .Samsung9{
                                    height: 85%;
                                    grid-column-start: 2;
                                    grid-row-start: 2;
                                }
                                .Samsung9 img{
                                    height: 45%;
                                    width: 90%; 
                                    margin-top: 2rem;
                                    margin-bottom: 0.5rem;
                                    
                                    }
                                    .Samsung10{
                                        height: 85%;
                                        grid-column-start: 3;
                                        grid-row-start: 2;
                                    }
                                    .Samsung10 img{
                                        height: 50%;
                                        width: 100%;   
                                        }
                                        .Samsung11{
                                            height: 85%;
                                            grid-column-start: 4;
                                            grid-row-start: 2;
                                        }
                                        .Samsung11 img{
                                            height: 50%;
                                            width: 100%;   
                                            }
                                            .Samsung12{
                                                height: 85%;
                                                grid-column-start: 5;
                                                grid-row-start: 2;
                                            }
                                            .Samsung12 img{
                                                height: 50%;
                                                width: 100%;   
                                                }
                                                .Samsung13{
                                                    height: 85%;
                                                    grid-column-start: 6;
                                                    grid-row-start: 2;
                                                }
                                                .Samsung13 img{
                                                    height: 50%;
                                                    width: 100%;   
                                                    }
                                                    .Samsung14{
                                                        height: 85%;
                                                        grid-column-start: 7;
                                                        grid-row-start: 2;
                                                    }
                                                     .Samsung14 img{
                                                        height: 50%;
                                                        width: 100%;   
                                                        }    
                                                        
                                                        .Catalans{
                                                            height: 120vh;
                                                            width: 97vh;
                                                            background: transparent;
                                                            display: grid; 
                                                            grid-template-columns: 25% 25% 25% 25% 25% 25% 25%;
                                                            grid-template-rows: 50% 50% ;
                                                            row-gap: 0.2rem;
                                                            column-gap: 0.7rem;
                                                            margin-left: 45px;
                                                            padding: 0%;
                                                        }

                                                        
                            .Nokia1{
                                height: 87%;
                                grid-column-start: 1;
                                grid-row-start: 1;
                                
                            }
                            .Nokia1 img {
                               height: 50%;
                               width: 100%;
                            }              
                            .Nokia2{
                                height: 87%;
                                grid-column-start: 2;
                                grid-row-start: 1;
                                }
                            
                                .Nokia2 img{
                                height: 55%;
                                width: 100%;
                                }
                            
                                .Nokia3{
                                    height: 87%;
                                    grid-column-start: 3;
                                    grid-row-start: 1;
                                }
                                .Nokia3 img{
                                    height: 50%;
                                    width: 100%;   
                                }
                            
                                .Nokia4{
                                    height: 87%;
                                    grid-column-start: 4;
                                    grid-row-start: 1;
                                }
                            
                                .Nokia4 img{
                                    height: 50%;
                                    width: 100%;   
                                }
                            
                                .Nokia5{
                                    height: 87%;
                                    grid-column-start: 5;
                                    grid-row-start: 1;
                                }
                                .Nokia5 img{
                                    height: 50%;
                                    width: 100%;   
                                }
                            
                                .Nokia6{
                                    height: 87%;
                                    grid-column-start: 6;
                                    grid-row-start: 1;
                                }
                                .Nokia6 img{
                                    height: 50%;
                                    width: 100%;   
                                }
                            
                                .Nokia7{
                                    height: 87%;
                                    grid-column-start: 7;
                                    grid-row-start: 1;
                                }
                                .Nokia7 img{
                                    height: 50%;
                                    width: 100%;   
                                }
                            
                                .Nokia8{
                                    height: 85%;
                                    grid-column-start: 1;
                                    grid-row-start: 2;
                                }
                            
                                .Nokia8 img{
                                height: 50%;
                                width: 100%;   
                                }
                                .Nokia9{
                                    height: 85%;
                                    grid-column-start: 2;
                                    grid-row-start: 2;
                                }
                                .Nokia9 img{
                                    height: 45%;
                                    width: 90%; 
                                    margin-top: 2rem;
                                    margin-bottom: 0.5rem;
                                    
                                    }
                                    .Nokia10{
                                        height: 85%;
                                        grid-column-start: 3;
                                        grid-row-start: 2;
                                    }
                                    .Nokia10 img{
                                        height: 50%;
                                        width: 100%;   
                                        }
                                        .Nokia11{
                                            height: 85%;
                                            grid-column-start: 4;
                                            grid-row-start: 2;
                                        }
                                        .Nokia11 img{
                                            height: 50%;
                                            width: 100%;   
                                            }
                                            .Nokia12{
                                                height: 85%;
                                                grid-column-start: 5;
                                                grid-row-start: 2;
                                            }
                                            .Nokia12 img{
                                                height: 50%;
                                                width: 100%;   
                                                }
                                                .Nokia13{
                                                    height: 85%;
                                                    grid-column-start: 6;
                                                    grid-row-start: 2;
                                                }
                                                .Nokia13 img{
                                                    height: 50%;
                                                    width: 100%;   
                                                    }
                                                    .Nokia14{
                                                        height: 85%;
                                                        grid-column-start: 7;
                                                        grid-row-start: 2;
                                                    }
                                                     .Nokia14 img{
                                                        height: 50%;
                                                        width: 100%;   
                                                        }   
